﻿@model WebApplication1.ViewModels.BMIData
@{

    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1>BMI計算</h1>

<p>BMI = 體重(kg)/身高^2(m)</p>
<form action="/BMI/Index" method="post">
    <p>Height @Html.TextBoxFor(m => m.Height)  cm</p>
    <p>Weight @Html.TextBoxFor(m => m.Weight)  kg</p>
    <p><input type="submit" name="name" value="Send" /></p>
    <p>Result : @Model.BMI</p>
    <p>Level : @Model.Level</p>
</form>