﻿
@{
    ViewBag.Title = "Htmlhelper";
}

<h2>Htmlhelper</h2>

<p>Name : @Html.TextBox("name")</p>
<p>Account : @Html.TextBox("account")</p>
<p>Password : @Html.Password("paswd")</p>
<p>
    Gender : @Html.RadioButton("gender", "male")Male
             @Html.RadioButton("gender", "female")Female
</p>
<p>
    Hobby : @Html.CheckBox("hobby")Swim
            @Html.CheckBox("hobby")Read
</p>
<p>
    Introduce yourslef :
    @Html.TextArea("introdutcion")
</p>

