﻿@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>

<p>Name : <input type="text" name="name" value="" /></p>
<p>Account : <input type="text" name="name" value="" /></p>
<p>Password : <input type="password" name="paswd" value="" /></p>
<p>
    Gender : <input type="radio" name="gender" value="Male" />Male
    <input type="radio" name="gender" value="Female" />Female
</p>
<p>
    Hobby : <input type="checkbox" name="swim" value="Swim" />Swim
    <input type="checkbox" name="read" value="Read" />Swim
</p>
<p>
    Introduce yourslef :
    <textarea></textarea>
</p>
